/* Intros.module.css */

.ribbonAnimation {
  animation: cutRibbon 1s ease forwards;
}

@keyframes cutRibbon {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

.logoAnimation {
  animation: moveLogos 1s ease forwards;
}

@keyframes moveLogos {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
